@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="about-company">
    <div class="container">
        <div class="left-content">
            <img src="~/images/about-company.png" alt="image of samantha brown">
            <img src="~/images/background-effects/EWlement.png" alt="squiggly line" class="overlay-image">
            <div class="textbox">
                <h2>
                    <span class="first-part">Samantha Brown,</span>
                    <span class="second-part">Founder</span>
                </h2>
                <p>"Lorem ipsum dolor sit amet consectetur adipiscing elit."</p>
            </div>
        </div>
        <div class="right-content">
            <h3>About Company</h3>
            <h2>We Are Business Consulting & Credit Repair Experts</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. 
                Quisquam officiis quas assumenda essa obcaecati?
                Ex esse error voluptates. iure vel totam eos.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.
                Omnis esse quasi incidunt adipisci accusantium libero provident
                voluptate amet.
            </p>
            <a class="btn-black" href="services.html">Learn More<i class="fa-regular fa-arrow-up-right"></i></a></a>
            <a class="btn-play" href=""><i class="fa-regular fa-circle-play"></i>Intro Video</a>
        </div>
    </div>
</section>