@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="article-news">
    <div class="container">
        <div class="section-title">
            <h2>Our News & Articles</h2>
        </div>
        <div class="article-news-boxes">
            <div class="article-news-box">
                <a href="/article"><img src="~/images/digitalization.png" alt="Woman talking about digitalization"></a>
                <p>Business</p>
                <h3>How To Use Digitalization In The Classroom</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="article-news-box">
                <img src="~/images/chatgpt.png" alt="Woman talking about digitalization">
                <p>Business</p>
                <h3>How To Implement Chat GPT In Your Projects</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="article-news-box">
                <img src="~/images/article-image-3.png" alt="Woman talking about digitalization">
                <p>Business</p>
                <h3>The Guide To Support Modern CSS Design</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="article-news-box">
                <img src="~/images/five-s.png" alt="Woman taking notes">
                <p>Business</p>
                <h3>Why You Need To Implement The Five S's</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="article-news-box">
                <img src="~/images/office.png" alt="Image of an office">
                <p>Business</p>
                <h3>Get More Involved With Your End Users</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="article-news-box">
                <img src="~/images/empty-office.png" alt="Image of an empty office">
                <p>Business</p>
                <h3>Guided Tour Of Our New Head Office In Stockholm</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="article-news-box">
                <img src="~/images/article-image-4.png" alt="Image of a laptop with charts">
                <p>Business</p>
                <h3>Using Business Intelligence To Get Insights Into Our Businesses</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="article-news-box">
                <img src="~/images/apple-products.png" alt="Image of an empty office">
                <p>Business</p>
                <h3>Apple Has Released New Products. Are They Any Good?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
            <div class="article-news-box">
                <img src="~/images/notepad.png" alt="Image of an empty office">
                <p>Business</p>
                <h3>How To Improve Your Teams And Get A Better Result</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
            </div>
        </div>
        <div class="article-news-buttons">
            <button class="article-news-button"><i class="fa-solid fa-less-than"></i></button>
            <button class="article-news-button">1</button>
            <button class="article-news-button">2</button>
            <button class="article-news-button">3</button>
            <button class="article-news-button">...</button>
            <button class="article-news-button">9</button>
            <button class="article-news-button"><i class="fa-solid fa-greater-than"></i></button>

        </div>
    </div>
</section>