@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="article-information">
    <div class="container">
        <div class="left-content">
            <h2>How To Use Digitalization In The Classroom</h2>
            <h4>Mar 25, 2023 <i class="fa-solid fa-circle"></i> Business <i class="fa-solid fa-circle"></i> Kimberly Hanses</h4>
            <img src="~/images/digitalization.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. </p>
            <p>Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. uspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. unc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
            <p>Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.</p>
            <h3>
                <i class="fa-sharp fa-solid fa-quote-right fa-flip-horizontal"></i>
                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. unc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
            <div class="text-categories">
                <div class="container">
                    <div class="text-category">Digitalization</div>
                    <div class="text-category">School</div>
                    <div class="text-category">IT</div>
                    <div class="text-category">Design</div>
                    <div class="text-category">Work</div>
                    <div class="text-category">Tech</div>

                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="search-bar">
                <i class="fa-regular fa-magnifying-glass"></i>
                <input type="text" class="btn-rounded"  placeholder="Type to search...">
            </div>
            <div class="recent-posts">
                <h3 class="text-underline">Recent Posts</h3>
                <div class="recent-post">
                    <span>How To Blow Through Capital At An Incredible Rate</span>
                    <p>Jan 14, 2020</p>
                    <hr>
                </div>
                <div class="recent-post">
                    <span>Design Studios That Everyone Should Know About? </span>
                    <p>Jan 14, 2020</p>
                    <hr>
                </div>
                <div class="recent-post">
                    <span>How did we get 1M+ visitors in 30 days without anything!</span>
                    <p>Jan 14, 2020</p>
                    <hr>
                </div>
                <div class="recent-post">
                    <span>Figma On Figma: How We Built Our Website Design System</span>
                    <p>Jan 14, 2020</p>
                    <hr>
                </div>
            </div>
            <div class="news-categories">
                <h3 class="text-underline">Categories</h3>
                <div class="flex-container">
                    <p class="black-text">Technology - </p>
                    <p class="gray-text">20 Posts</p>
                </div>
                <div class="flex-container">
                    <p class="black-text">Freelancing - </p>
                    <p class="gray-text">07 Posts</p>
                </div>
                <div class="flex-container">
                    <p class="black-text">Writing - </p>
                    <p class="gray-text">16 Posts</p>
                </div>
                <div class="flex-container">
                    <p class="black-text">Marketing - </p>
                    <p class="gray-text">11 Posts</p>
                </div>
                <div class="flex-container">
                    <p class="black-text">Business - </p>
                    <p class="gray-text">35 Posts</p>
                </div>
                <div class="flex-container">
                    <p class="black-text">Education - </p>
                    <p class="gray-text">14 Posts</p>
                </div>
            </div>
        </div>
    </div>
</section>