@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="choose-us">
    <div class="container">
        <div class="left-content">
            <div class="section-title">
                <p>Why Choose Us</p>
                <h2>Why We Are The Best Business Consulting Agency</h2>
            </div>
            <div class="info-panels">
                <div class="info-panel-1">
                    <img src="~/images/icons/thumpup.svg" alt="">
                </div>
                <div class="info-panel-2">
                    <img src="~/images/icons/strategic.svg" alt="">
                </div>
                <div class="info-panel-3">
                    <img src="~/images/icons/design.svg" alt="">
                </div>
                <div class="info-panel-4">
                    <img src="~/images/icons/ai.svg" alt="">
                </div>
            </div>
        </div>
        <div class="right-content">
            <img src="~/images/choose-us.png" alt="">
        </div>
    </div>
</section>