@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="contactinfo">
    <div class="container">
        <div class="infobox">
            <div class="infobox-circle"><i class="fa-sharp fa-regular fa-location-dot"></i></div>
            <h5>Visit Us</h5>
            <div class="infobox-info">
                <p>Sveavägen 31</p>
                <p>111 34 STOCKHOLM</p>
            </div>
        </div>
        <div class="infobox">
            <div class="infobox-circle"><i class="fa-sharp fa-regular fa-location-dot"></i></div>
            <h5>Call Us</h5>
            <div class="infobox-info">
                <p>Sveavägen 31</p>
                <p>111 34 STOCKHOLM</p>
            </div>
        </div>
        <div class="infobox">
            <div class="infobox-circle"><i class="fa-sharp fa-regular fa-location-dot"></i></div>
            <h5>Email Us</h5>
            <div class="infobox-info">
                <p>Sveavägen 31</p>
                <p>111 34 STOCKHOLM</p>
            </div>
        </div>
    </div>
</section>