@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="features">
    <div class="container">
        <div class="section-title">
            <p>Features</p>
            <h2>Our Accounting Is trusted by thousand of companies</h2>
            <a class="btn-yellow" href="service.html">Learn More <i class="fa-regular fa-arrow-up-right"></i></a>
        </div>
        <div class="right-content">
            <div class="box">
                <img src="~/images/icons/handshake.svg" alt="">
            </div>   
            <div class="box">
                <img src="~/images/icons/startup.svg" alt="">
            </div>   
            <div class="box">
                <img src="~/images/icons/financial.svg" alt="">
            </div>   
            <div class="box">
                <img src="~/images/icons/risk.svg" alt="">
            </div>   
        </div>
    </div>
</section>