@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="logotypes">
    <div class="container">
        <img src="~/images/logos/paperz.svg" alt="Paperz logo">
        <img src="~/images/logos/dorfus.svg" alt="Dorfus logo">
        <img src="~/images/logos/martino.svg" alt="Martino logo">
        <img src="~/images/logos/square.svg" alt="Square logo">
        <img src="~/images/logos/gobona.svg" alt="Gobona logo">
    </div>
</section>