@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="news-showcase">
    <div class="container">
        <div class="news-articles-content">
            <a href="/">Home</a>
            <a href="/news">News</a>
            <h1>News & Articles</h1>
        </div>
    </div>
</section>