@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="our-services">
    <div class="container">
        <div class="section-title">
            <p>Our Services</p>
            <h2>We Provide The Best Service For Consulting</h2>
        </div>
        <div class="cards">
            <div class="card-1">
                <hr>
                <h3>Business Advice</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipiscing elit.
                    Officiis in nam possimus.
                </p>
                <a class="btn-arrow" href=""><i class="fa-light fa-arrow-right"></i></a>
            </div>
            <div class="card-2">
                <hr>
                <h3>Startup Business</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipiscing elit.
                    Officiis in nam possimus.
                </p>
                <a class="btn-arrow" href=""><i class="fa-light fa-arrow-right"></i></a>
            </div>
            <div class="card-3">
                <hr>
                <h3>Financial Advice</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipiscing elit.
                    Officiis in nam possimus.
                </p>
                <a class="btn-arrow" href=""><i class="fa-light fa-arrow-right"></i></a>
            </div>
            <div class="card-4">
                <hr>
                <h3>Risk Management</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipiscing elit.
                    Officiis in nam possimus.
                </p>
                <a class="btn-arrow" href=""><i class="fa-light fa-arrow-right"></i></a>
            </div>
        </div>
        <img src="~/images/background-effects/background-lines-right.svg" alt="">
    </div>
</section>