@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="project-case">
    <div class="container">
        <div class="section-title">
            <p>Project & Case Studies</p>
            <h2>Let's Looks Our Global Projects</h2>
        </div>
        <div class="project-and-cases">
            <a class="project" href="#">
                <img src="~/images/article-image-1.png" alt="Man reading business paper">
                <h3>Grow your business</h3>
                <div class="readmore">Read More <i class="fa-regular fa-arrow-up-right"></i></div>
            </a>
            <a class="project" href="#">
                <img src="~/images/article-image-2.png" alt="Glasses and pink Apple products">
                <h3>Why your client needs a responsive website</h3>
                <div class="readmore">Read More <i class="fa-regular fa-arrow-up-right"></i></div>
            </a>
            <a class="project" href="#">
                <img src="~/images/notepad.png" alt="Desk with supplies">
                <h3>Educate your employees to get better results</h3>
                <div class="readmore">Read More <i class="fa-regular fa-arrow-up-right"></i></div>
            </a>
            <a class="project" href="#">
                <img src="~/images/article-image-4.png" alt="Laptop displaying charts">
                <h3>Business Insights is a important piece of your business</h3>
                <div class="readmore">Read More <i class="fa-regular fa-arrow-up-right"></i></div>
            </a>
        </div>
        <div class="center-content">
            <a class="btn-black" href="projects.html">All Recent Projects <i class="fa-regular fa-arrow-up-right"></i></a>
        </div>
    </div>
</section>