@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="signup">
    <div class="container">
        <h3>Get News Updates By Signup</h3>
        <input type="text" class="btn-rounded" placeholder="username@domain.com">
        <a class="btn-yellow" href="projects.html">Subscribe <i class="fa-regular fa-arrow-up-right"></i></a>

    </div>
    <img src="~/images/background-effects/element.png" alt="squiggly line">
</section>